body {
            
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: rgb(252, 241, 236);
    
    
}


h1 {
    margin-top: 200px;
    text-align: center;
    color: #291010;
    font-size: 60px;
}


.navbar {
    background-color: #291010;
    height: 100px;
    width: auto;
    overflow: auto;
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 20px;
    font-size: large;
    
}


.navbar a:hover {
    background-color:#37393b;
    color: #fff;
}



/* For small screens (phones, less than 600px) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 25px;
    }

    #d1 {
        width: 90%;
        height: auto;
    }

    #tb {
        width: 90%;
    }

    #btnback {
        padding: 8px 30px;
        font-size: 14px;
    }
}

/* For medium screens (tablets, 600px to 900px) */
@media only screen and (min-width: 600px) and (max-width: 900px) {
    h1 {
        font-size: 30px;
    }

    #d1 {
        width: 80%;
        height: auto;
    }

    #tb {
        width: 80%;
    }

    #btnback {
        padding: 9px 35px;
        font-size: 15px;
    }
}

/* For large screens (desktops, more than 900px) */
@media only screen and (min-width: 900px) {
    h1 {
        font-size: 35px;
    }

    #d1 {
        width: 600px;
        height: 500px;
    }

    #tb {
        width: 50%;
    }

    #btnback {
        padding: 10px 40px;
        font-size: 16px;
    }
}