body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #291010;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 
}

#div1 {
        text-align: center;
        margin: 20 0 20 0;
}

#h1 {
    color: aliceblue; 
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 50px; 
}

#div2 {
    background-color: rgb(252, 241, 236);
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 0 15px #a05353;
    padding: 25px;
    height: 350px;
    width: 400px;
    text-align: left;
}

h2 {
    color:   #8f391f;
    font-size: 170%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid  #833000;
    border-radius: 5px;
    font-size: 16px;
}

#signbtn {
    background-color: #3a793d;
    color: aliceblue;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

#signbtn:hover {
    background-color: #284226;
}

p {
    color: red;
    margin: 20px;
    text-align: center;
    
   
}
#log{
    color: aliceblue;
}

#emailMessage{
    margin-top: 10px;
    display: block;

}
#passwordMessage{
    margin-top: 10px;

}

/* For small screens (phones, less than 600px) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 25px;
    }

    #d1 {
        width: 90%;
        height: auto;
    }

    #tb {
        width: 90%;
    }

    #btnback {
        padding: 8px 30px;
        font-size: 14px;
    }
}

/* For medium screens (tablets, 600px to 900px) */
@media only screen and (min-width: 600px) and (max-width: 900px) {
    h1 {
        font-size: 30px;
    }

    #d1 {
        width: 80%;
        height: auto;
    }

    #tb {
        width: 80%;
    }

    #btnback {
        padding: 9px 35px;
        font-size: 15px;
    }
}

/* For large screens (desktops, more than 900px) */
@media only screen and (min-width: 900px) {
    h1 {
        font-size: 35px;
    }

    #d1 {
        width: 600px;
        height: 500px;
    }

    #tb {
        width: 50%;
    }

    #btnback {
        padding: 10px 40px;
        font-size: 16px;
    }
}