<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboad</title>
    <link rel="stylesheet" href="../public/dashbord.css">
    <link rel="icon" href="../public/favicon.ico">

  
</head>
<body>

<div class="navbar">
    <a class="left" href="../model/uploadcsv.php">NIC Validation</a>
    <a class="left" href="../model/details.php">Details</a>
    <a class="right" href="../home.html" id="logout">LOGOUT</a>
    
</div>

<h1>NIC Validating Application</h1>



</body>
</html>